@use "../../App.scss" as App;
.wrapper {
  background-color: App.$floral-white;
  width: 60%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  position: relative;
  & > .content {
    text-align: justify;
    & > .date {
      display: inline;
      position: absolute;
      right: 1rem;
      top: 0.5rem;
    }
    & > div {
      margin-bottom: 1rem;
    }

    .subtitle {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-right: 2rem;
    }

    .text {
      font-size: 1.2rem;
    }
  }
}
